\S

 +----------------------------------------------------------------------------+
 !                                                                            !
 !  WARNING :  this system is for authorized use only ! Use of this computer  !
 !  system, authorized or unauthorized, constitutes consent to monitoring of  !
 !  this system.   Unauthorized use may subject you to criminal prosecution.  !
 !  Evidence of unauthorized use collected during monitoring may be used for  !
 !  administrative, criminal, or other adverse action.                        !
 !                                                                            !
 +----------------------------------------------------------------------------+
 
 
